.copyright {
    border-top: 1px solid #dfdfdf;

    &__container {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__text {
        font-size: 12px;
        line-height: 16px;
        text-align: center;
        letter-spacing: 0.4px;
    }

    &__link {
        text-decoration: none;
        color: black;
        display: flex;
        justify-content: center;
        transition: color 0.5s;

        &:hover {
            color: #bb1a1a;
        }
    }
}