.footer {
    flex: 0 0 auto;

    &__container {
        display: flex;
        justify-content: center;
    }

    &__logo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        cursor: pointer;
        text-decoration: none;

        &:hover {
            .footer__logo-text {
                color: #bb1a1a;
            }
        }
    }

    &__logo-img {
        display: flex;
        justify-content: center;

        img {
            width: 25px;
            height: 25px;
        }
    }

    &__logo-text {
        font-size: 15px;
        font-weight: 300;
        text-transform: uppercase;
        transition: color 0.5s;
        color: black;
    }
}

@include media-breakpoint-up('lg') {
    .footer {
        display: flex;
        justify-content: space-around;
        border-top: 1px solid #dfdfdf;
        padding: 25px 0;

        &__container {
            width: 50%;
            border-right: 1px solid #dfdfdf;
        }

        &__logo-img {
            img {
                width: 50px;
                height: 50px;
            }
        }

        &__logo-text {
            font-size: 18px;
        }
    }
}