.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 16px;
    box-shadow: 0 20px 20px 0 #f6f6f6;
    top: 0;
    position: fixed;
    left: 0;
    right: 0;
    background-color: #fff;

    &__logo {
        display: flex;
        align-items: center;
        cursor: pointer;
        text-decoration: none;

        &:hover {
            .header__logo-text {
                color: #bb1a1a;
            }
        }
    }

    &__logo-img {
        img {
            width: 50px;
            height: 50px;
        }
    }

    &__logo-text {
        font-size: 30px;
        font-weight: 300;
        text-transform: uppercase;
        transition: color 0.5s;
        color: black;
    }

    &__menu-burger {
        display: flex;
        width: 18px;
        height: 15px;
    }

    &__menu-svg {
        width: 20px;
        height: 20px;
        fill: #424242;
    }
}