<section class="latest-data" id="latest-data">
	<div class="latest-data__container">
		<h2 class="latest-data__h2 mb-8">Мировая статистика заражений</h2>
		<div class="latest-data__cards">
			<div class="card-data mb-4">
				<div class="card-data__count mb-2">7 925 176</div>
				<div class="card-data__text">Выявлено случаев</div>
			</div>
			<div class="card-data mb-4">
				<div class="card-data__count mb-2">6 960 024</div>
				<div class="card-data__text">Человека выздоровело</div>
			</div>
			<div class="card-data mb-4">
				<div class="card-data__count mb-2">221 313</div>
				<div class="card-data__text">Человек умерло</div>
			</div>
<!--			<div class="card-data__info">данные по всему миру</div>-->
		</div>
	</div>
	<div class="latest-data__container">
<!--		<h2 class="latest-data__h2 mb-8">Данные за 15.10.21</h2>-->
		<div class="latest-data__cards">
			<div class="card-data mb-4">
				<div class="card-data__count mb-2">35 176</div>
				<div class="card-data__text">Выявлено случаев за сутки</div>
			</div>
			<div class="card-data mb-4">
				<div class="card-data__count mb-2">30 024</div>
				<div class="card-data__text">Человека выздоровело за сутки</div>
			</div>
			<div class="card-data mb-4">
				<div class="card-data__count mb-2">1 313</div>
				<div class="card-data__text">Человек умерло за сутки</div>
			</div>
		</div>
	</div>
</section>