<div class="mobile-menu mobile-menu__hidden" data-mobile-menu>
	<div class="mobile-menu__close">
		<svg class="mobile-menu__close__svg" data-mobile-menu-close>
			<use xlink:href="#close-menu"></use>
		</svg>
	</div>
	<div class="mobile-menu__nav px-4">
		<a class="mobile-menu__link" href="#latest-data" data-mobile-menu-close-link>информация</a>
		<a class="mobile-menu__link" href="#world-map" data-mobile-menu-close-link>карта</a>
	</div>
</div>
<div class="mobile-menu__back mobile-menu__back__hidden" data-mobile-menu-back></div>