{{> layout/header }}

<div class="app">
	<div class="container mt-10">
		{{> components/latest-data }}
		{{> components/world-map }}
<!--		<div class="get-request">-->

<!--		</div>-->
	</div>
</div>

{{> layout/footer }}