		</main>
	</div>
<!-- Футер -->
	<footer class="footer container">
		<div class="footer__container py-4">
			<a class="footer__logo">
				<div class="footer__logo-img mb-2"><img src="@/assets/img/main-logo.png" alt="main-logo"></div>
				<div class="footer__logo-text">Covid-19</div>
			</a>
		</div>

		<div class="copyright py-4">
			<div class="copyright__container">
				<div class="copyright__wrapper">
					<p class="copyright__text mb-2">&#169; <span id="date"></span> Coronosaurus</p>
					<a href="#" target="_blank" class="copyright__link copyright__text mb-2">Политика конфидициальности</a>
				</div>

				<a class="copyright__link" href="https://github.com/Akseonov/">
					<span class="copyright__text">Developed by Akseonov</span>
				</a>
			</div>
		</div>
	</footer>
</div>
<!-- Скрипты -->
</body>
</html>